<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap.min.css" />
</head>

<body style="width: 600px">

    <style>
        .border {
            font-size: 12px;
            margin: 5px 0 5px 0;
        }
        
        .sel-img {
            border: 1px solid red;
        }
    </style>

    <div class="container-fluid" id="popupAliGoods">

        <div class="row-fluid">
            <div class="col-md-12 border">
                <div class="form-group">
                    <button class="btn" v-on:click="onClickCopyUrl()">Копировать URL</button>
                    <button class="btn" v-on:click="onClickCopyImg()" v-bind:disabled="!selectImg.thumb">Копировать изображение</button>
                    <a class="btn button" href="https://portals.aliexpress.com/adcenter/generateUrl.htm" target="_blank">Создать ссылку</a>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-12 border">
                <img style="cursor: pointer" v-for="(img,index) in images" v-bind:src="img.thumb" v-bind:class="{'sel-img':img.thumb==selectImg.thumb}" v-on:click="onSelectImg(img)">
                <br>
                <img v-show="selectImg.url" title="Открыть в ноновом окне" style="max-width: 400px; max-height: 330px; cursor: pointer" v-bind:src="selectImg.url" v-on:click="onClickOpenImg(selectImg.url)">
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-12 border">
                <div class="form-group">
                    <textarea title="Ссылка" rows="2" class="form-control" name="simpleUrl" v-model="simpleUrl"></textarea><br>
                    <textarea title="Изображение" rows="2" class="form-control" name="selectImg" v-model="selectImg.url" v-show="selectImg.url"></textarea>
                </div>
            </div>
        </div>

    </div>

    <script src="popup.js"></script>
</body>

</html>